.container-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid black;
}

.container-1 div{
    text-align: center;
    padding: 5px;
}