/*drop down: open button*/
.openbtn1{
    cursor: pointer;
    color: #fff;
    font-size: 45px;
    padding: 10px;
}

/*position dropdown div box*/
.dropdown-1{
    position: relative;
    display: inline-block;
}

/*drop down: content*/
.drop1-content{
    display: none;
    position: absolute;
    background-color: #323131;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(90, 87, 87, 0.2);
    z-index: 1;
}

.drop1-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop1-content a:hover{background-color: #505050}
.show{display: block;}


/*Upload an Image*/

.content-upimg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.content-upimg .closebtn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 25px;
}

.popup-1.active .content-upimg{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


/*upload file*/
.content-upfile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.content-upfile .closebtn2{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 25px;
}

.popup-2.active .content-upfile{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}